/* Generic CSS */
.center {
    text-align: center;
}

button {
    background-color: orange;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
}

/* CSS for Login Page */
.page_container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    min-width: 350px;
}

.image {
    background-image: url(https://source.unsplash.com/23LET4Hxj_U);
    flex: 5;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login_form {
    flex: 5;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    background-color: #3F9CFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_fix {
    margin-top: -15px;
}

.pass_fix {
    margin-top: -5px;
}

/* CSS for Sign Up Page */
.main_body_container {
    display: flex;
    flex-wrap: wrap;
}

.sign_up_form {
    flex: 5;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign_up_image {
    background-image: url(https://source.unsplash.com/O9us_LCahCg);
    flex: 5;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
