/* Generic CSS */
.center {
    text-align: center;
}

button {
    background-color: orange;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
}

/* CSS for Login Page */
.page_container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    min-width: 350px;
}

.image {
    background-image: url(https://source.unsplash.com/23LET4Hxj_U);
    flex: 5;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login_form {
    flex: 5;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    background-color: #3F9CFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_fix {
    margin-top: -15px;
}

.pass_fix {
    margin-top: -5px;
}

/* CSS for Sign Up Page */
.main_body_container {
    display: flex;
    flex-wrap: wrap;
}

.sign_up_form {
    flex: 5;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign_up_image {
    background-image: url(https://source.unsplash.com/O9us_LCahCg);
    flex: 5;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* CSS For Home Page */
nav {
    border-radius: 10px;
    background-color: #3F9CFA;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    text-align: right;
    text-transform: uppercase;
}

nav ul li {
    display: inline;
    padding-right: 50px;
}

nav ul a {
    text-decoration: none;
    color: #333;
}

nav ul a:hover {
    color: yellow;
}

.study_area {
    margin-top: 15px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.study_box_area {
    min-width: 350px
}


.area_s {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background_para {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3F9CFA;
    padding: 10px;
    border-radius: 10px;
}

.small_screen_message {
    display: none;
}

.results_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 600px;
}

.para_background {
    background-color: #3F9CFA;
    border-radius: 10px;
    padding: 10px;
}

@media only all and (max-width: 700px){

    .small_screen_message {
        display: inline;
    }

    img {
        display: none;
    }
}

