{% extends 'base.html' %}

{% block body %}

<nav>
    <ul>
        <li><a class='sign_out_button' href='/sign_out'>Log Out</a></li>
    </ul>
</nav>

<header>
    <h1 class='center'>The Study</h1>
</header>

<main>

    <div class="study_area">
        <div class='study_box_area area_s'>
            <h2>Background on the Study</h2>
            <p class='background_para'>
                This goal of this study was to see if there was a correlation between
                Google trends data and the amount of money that a movie made. The idea
                for this project came to me after reading Everybody Lies. In that
                book the author uses data from Google Trends to examine human
                behvaior. Thus, I wanted to see if there would be any correlation
                with movies and Google Trends.
            </p>
        </div>

        <div class='study_box_area area_s'>
            <h2>Methods Used</h2>
            <div class='background_para'>
                <ul>
                    <li>Gather Data on how much a 2016 movie made.</li>
                    <li>Use Google Trends data on the movie released. Take data from
                        the point that the movie was released to one year before hand.</li>
                    <li>Get the mean of the Google Trends data for the past year.</li>
                    <li>Create scatter plot of data for using Trends data as X axis and
                        amount movie made as Y axis.</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <h1 class='center'>The Results-One Year</h1>
    <div class='results_one'>
        <h1 class='small_screen_message'>Results cannot be seen on small screens</h1>
        <div class='results_area'>
            <img src='static/image/year.png' alt='Data for one year'>
            <p class='para_background'>As we can see by the year results, there seems to be no real correlation
                between the amount that a movie earned and its Google trends value. Some movies, that earned a lot of 
                money, such as Rogue One, had a low Google Trends value. Other movies, with a high Google trends value, 
                barely earned 100 Million at the box office. Thus, at this moment, I would argue that there is no correlation, 
                at the one year mark, between Google Trends and the amount of money a movie made. 
            </p>
        </div>
    </div>
    <hr>
    <h1 class='center'>The Results-Six Months</h1>
    <div class='results_one'>
        <h1 class='small_screen_message'>Results cannot be seen on small screens</h1>
        <div class='results_area'>
            <img src='static/image/six.png' alt='Data for one year'>
            <p class='para_background'>Much like the one year results, there really does not seem to be any correlation 
                at this point either. 
            </p>
        </div>
    </div>
    <hr>
    <h1 class='center'>The Results-Three Months</h1>
    <div class='results_one'>
        <h1 class='small_screen_message'>Results cannot be seen on small screens</h1>
        <div class='results_area'>
            <img src='static/image/three.png' alt='Data for one year'>
            <p class='para_background'>As we can see by the year results,</p>
        </div>
    </div>
    <hr>
    <h1 class='center'>The Results-One Month</h1>
    <div class='results_one'>
        <h1 class='small_screen_message'>Results cannot be seen on small screens</h1>
        <div class='results_area'>
            <img src='static/image/one.png' alt='Data for one year'>
            <p class='para_background'>As we can see by the year results,</p>
        </div>
    </div>


</main>



{% endblock %}
