{% extends 'base.html' %}

{% block body %}

<div class='page_container'>
    <div class='image'>
    </div>

    <div class='login_form'>
        <h1>Movie Data</h1>
        <h4>Using Google Trends to learn about movies</h4>
        <form onsubmit='return validateForm();' method="POST">
            <h1 class='center'>Login</h1>
            <p>Username: <input size=20 name='username' type='text'/></p>
            <p class='input_fix '>Password: <input size=20 name='password' type='password'/></p>
            <input type='submit'/>
            <button><a href='/sign_up'>Sign Up</a></button>
        </form>
    </div>
</div>


{% endblock %}
