{% extends 'base.html' %}

{% block body %}

<div class='page_container'>

    <div class='box image'>
    </div>

    <div class='box login_form'>
        <h1>Movie Data</h1>
        <h4 class='title_fix'>Using Google Trends to learn about movies</h4>
        <form method="POST">
            <h1 class='center'>Login</h1>
            <p class='title_fix'>Username: <input size=20 name='username' type='text'/></p>
            <p class='pass_fix'>Password: <input size=20 name='password' type='password'/></p>
            <div>
                <button onClick='return validateForm();' ><a href='/'>Login</a></button>
                <button><a href='/sign_up'>Sign Up</a></button>
            </div>
        </form>

    </div>

</div>

{% endblock %}
