{% extends 'base.html' %}

{% block body %}

<div class='main_body_container'>

    <div class='box sign_up_form'>
        <form onsubmit='return validateForm();' method="POST">
            <h1 class='center'>Login</h1>
            <p>Username: <input size=20 name='username' type='text'/></p>
            <p class='input_fix '>Password: <input size=20 name='password' type='password'/></p>
            <button><a href='/'>Login</a></button>
            <button><a href='/sign_up'>Sign Up</a></button>
        </form>
    </div>
    <div class='box sign_up_image'>
    </div>

</div>

{% endblock %}
