{% extends 'base.html' %}

{% block body %}

<div class='main_body_container'>

    <div class='box sign_up_form'>
        <form method="POST">
            <h1 class='center'>Sign Up</h1>
            <p class='title_fix'>Username: <input size=20 name='username' type='text'/></p>
            <p class='pass_fix input_fix'>Password: <input size=20 name='password' type='password'/></p>
            <div>
                <button onClick='return validateForm();'><a href='/'>Sign Up</a></button>
            </div>
        </form>
    </div>
    <div class='box sign_up_image'>
    </div>

</div>

{% endblock %}
